<div class="wrapper">
  <div class="board" #board>
    <div class="block" *ngFor="let el of elem; let i = index" [id]="box+(i+1)" (click)=onClick(i,$event) #elem>{{el}}</div>
  </div>
  <button class="btn-restart" (click)=resetAll()>
    Restart Game
  </button>
  <h1 class="winner">{{winner}}</h1>
  <h3 class="win-info">Count your wins :</h3>
  <div class="result">
    <span class="col2">O Player</span> - {{oWins}}</div>
  <div class="result">
    <span class="col1">X Player</span> - {{xWins}}</div>
</div>
